main {
  border: 3px solid red;
  width: 80%;
  height: 70%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
}

.div-heading {
  width: 61%;
  height: 30%;
  border: 3px solid green;
  padding: 60px;
}

.img {
  border: 3px solid gray;
  width: 30%;
  height: 30%;
}
